openapi: 3.1.0
info:
  title: Harvest API v2 Clients Estimates API
  version: 2.0.0
  description: 'REST API for Harvest time tracking, projects, clients, invoices,

    estimates, expenses, tasks, users, roles, company settings, and reports.

    Authentication uses a personal access token or OAuth 2.0 bearer token in

    the Authorization header together with the Harvest-Account-Id header.

    '
  contact:
    name: Harvest API Documentation
    url: https://help.getharvest.com/api-v2/
servers:
- url: https://api.harvestapp.com/v2
  description: Harvest production API
security:
- bearerAuth: []
tags:
- name: Estimates
paths:
  /estimates:
    get:
      summary: List estimates
      operationId: listEstimates
      tags:
      - Estimates
      responses:
        '200':
          description: List of estimates.
    post:
      summary: Create an estimate
      operationId: createEstimate
      tags:
      - Estimates
      responses:
        '201':
          description: Estimate created.
  /estimates/{estimate_id}:
    get:
      summary: Retrieve an estimate
      operationId: getEstimate
      tags:
      - Estimates
      parameters:
      - in: path
        name: estimate_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Estimate details.
    patch:
      summary: Update an estimate
      operationId: updateEstimate
      tags:
      - Estimates
      parameters:
      - in: path
        name: estimate_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Estimate updated.
    delete:
      summary: Delete an estimate
      operationId: deleteEstimate
      tags:
      - Estimates
      parameters:
      - in: path
        name: estimate_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Estimate deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token or OAuth 2.0 access token passed in the

        Authorization header. The Harvest-Account-Id header (or account_id

        query parameter) is also required.

        '
