openapi: 3.1.0
info:
  title: Harvest API v2 Clients Projects API
  version: 2.0.0
  description: 'REST API for Harvest time tracking, projects, clients, invoices,

    estimates, expenses, tasks, users, roles, company settings, and reports.

    Authentication uses a personal access token or OAuth 2.0 bearer token in

    the Authorization header together with the Harvest-Account-Id header.

    '
  contact:
    name: Harvest API Documentation
    url: https://help.getharvest.com/api-v2/
servers:
- url: https://api.harvestapp.com/v2
  description: Harvest production API
security:
- bearerAuth: []
tags:
- name: Projects
paths:
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: List of projects.
    post:
      summary: Create a project
      operationId: createProject
      tags:
      - Projects
      responses:
        '201':
          description: Project created.
  /projects/{project_id}:
    get:
      summary: Retrieve a project
      operationId: getProject
      tags:
      - Projects
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Project details.
    patch:
      summary: Update a project
      operationId: updateProject
      tags:
      - Projects
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Project updated.
    delete:
      summary: Delete a project
      operationId: deleteProject
      tags:
      - Projects
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Project deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token or OAuth 2.0 access token passed in the

        Authorization header. The Harvest-Account-Id header (or account_id

        query parameter) is also required.

        '
