openapi: 3.1.0
info:
  title: Harvest API v2 Clients API
  version: 2.0.0
  description: 'REST API for Harvest time tracking, projects, clients, invoices,

    estimates, expenses, tasks, users, roles, company settings, and reports.

    Authentication uses a personal access token or OAuth 2.0 bearer token in

    the Authorization header together with the Harvest-Account-Id header.

    '
  contact:
    name: Harvest API Documentation
    url: https://help.getharvest.com/api-v2/
servers:
- url: https://api.harvestapp.com/v2
  description: Harvest production API
security:
- bearerAuth: []
tags:
- name: Clients
paths:
  /clients:
    get:
      summary: List clients
      operationId: listClients
      tags:
      - Clients
      responses:
        '200':
          description: List of clients.
    post:
      summary: Create a client
      operationId: createClient
      tags:
      - Clients
      responses:
        '201':
          description: Client created.
  /clients/{client_id}:
    get:
      summary: Retrieve a client
      operationId: getClient
      tags:
      - Clients
      parameters:
      - in: path
        name: client_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Client details.
    patch:
      summary: Update a client
      operationId: updateClient
      tags:
      - Clients
      parameters:
      - in: path
        name: client_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Client updated.
    delete:
      summary: Delete a client
      operationId: deleteClient
      tags:
      - Clients
      parameters:
      - in: path
        name: client_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Client deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token or OAuth 2.0 access token passed in the

        Authorization header. The Harvest-Account-Id header (or account_id

        query parameter) is also required.

        '
